/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $link: #444;
 $link-hover: #222;
 
 @import "bulma";
 @import "functions";
 
 
 .notification {
   border-radius: 0;
 }
 
 .notification:not(:last-child) {
   margin-bottom: 0;
 }
 
 .instrument-index-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
 
   .instrument {
     border-left: 0;
     border-top: 0;
     position: relative;
     min-height: 375px;
 
     .title {
       line-height: 1.6rem;
     }
     .price {
       position: absolute;
       bottom: 10px;
       right: 10px;
     }
   }
 
   .instrument-thumb {
     position: relative;
     max-height: 150px;
     overflow: hidden;
 
     img {
       max-width: 100%;
       width: 100%;
       &:hover {
         opacity: .9;
       }
     }
 
     .condition {
       position: absolute;
       bottom: 10px;
       right: 9px;
     }
   }
 }

.login-form {
  max-width: 400px;
  margin: 20px auto 0;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.field strong {
  font-weight: bold;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.actions input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.actions input[type="submit"]:hover {
  background-color: #0056b3;
}

.field label {
  display: inline-block;
  margin-left: 10px;
}

